<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>交通态势首页</title>
		<script src="jq.js"></script>

		<h1>欢迎使用高德地图交通态势查询网站</h1>

		<form id='traffic_form'>
			矩形区域交通态势查询：<input type="text" id='retangle'><br>
			圆形区域交通态势查询：<input type="text" id='circle'><br>
			指定路线交通态势查询：<input type="text" id='road'><br>
			<input type="button" onclick="trafficQuery()" value="确定">
		</form>



		<script type="text/javascript">
			function trafficQuery() {
				retangle_value = $('#retangle').value;
				alert(retangle_value)
				circle_value = document.getElementById('circle').value;
				road_value = document.getElementById('road').value;
				//TODO 测试
				var url = 'http://127.0.0.1:5000/traffic?retangle_value=116.351147,39.966309;116.357134,39.968727';
				Ajax.get(url, 'callback')

			}

			function callback(data) {
				alert('返回的数据：' + data);
			}

			var Ajax = {
				get: function(url, fn) {
					// XMLHttpRequest对象用于在后台与服务器交换数据
					var xhr = new XMLHttpRequest();
					xhr.open('GET', url, true);
					xhr.onreadystatechange = function() {
						// readyState == 4说明请求已完成
						if (xhr.readyState == 4 && xhr.status == 200 || xhr.status == 304) {
							// 从服务器获得数据
							fn.call(this, xhr.responseText);
						}
					};
					xhr.send();
				},
				// datat应为'a=a1&b=b1'这种字符串格式，在jq里如果data为对象会自动将对象转成这种字符串格式
				post: function(url, data, fn) {
					var xhr = new XMLHttpRequest();
					xhr.open("POST", url, true);
					// 添加http头，发送信息至服务器时内容编码类型
					xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
					xhr.onreadystatechange = function() {
						if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 304)) {
							fn.call(this, xhr.responseText);
						}
					};
					xhr.send(data);
				}
			}
		</script>



	</head>
	<body>

	</body>
</html>
